.recipe-container {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

mat-card {
    display: grid;
    align-content: space-between;
}